body{
    font: 1.8rem helvetica;
    box-sizing: border-box;
    background-color: #f0f2f5;
}

.Login{
    width: 100%;
    height: 35rem;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.facebooktext{
    padding-bottom: 0.5rem;
    font-size: 4rem;
    color: #1877f2;
    font-weight: 780;
    
}

.title{
    font-size: 1.5rem;
    color: black;
    font-weight: 150;
    
}

.logincontainer{
    margin-top: 8%;
    border: white .3rem solid;
    background-color: white;
    height: 21rem;
    width: 24rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

input[type=email] {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid #dddfe2;
}

input[type=password] {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid #dddfe2;
}

input::placeholder {
    font-size: 1rem;
    color: #90969f;
}

.btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #1877f2;
    border: none;
    box-sizing: border-box;
    padding: 12px 32px;
    justify-content: center;
    margin: 4px 2px;
    border-radius: .5rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.btn a {
    color: white;
    text-decoration: none;
}

.forget a{
    color: #1877f2;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 0.9rem;
    margin: 5%;
    text-decoration: none;
}

.underline {
    border-bottom: #d9e1eb 1px solid;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    color: #f0f2f5;
    background-color: #42b72a;
    border: none;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    border-radius: .5rem;
    margin: 5%;
}

.page a{
    color: black;
    padding: 1%;
    text-decoration: none;
    font-weight: 700;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}